# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django / Python
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Static / media
/staticfiles/
/media/

# IDE / Editor
.vscode/
.idea/

# Environment variables
.env

